body {
    margin: 0px;
    background-color:#424361;
    
}
html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    border: solid 2px #003366; 
    border-radius: 0px 0px 30px 30px; 
    background-color: #003366;
    font-family: 'Cabin';
    z-index: 1 !important;
    
}



#importcentral { 
    text-decoration: none;
    border: solid 2px #CCCC99;
    border-radius: 30px;
    background-color: #CCCC99;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Merriweather Sans';;
    margin: 0 auto;
    margin-right: 260px; 
    text-align: center !important;
    color: #003366;
   
}

.jumbotron {
    /* background-color: #CCCCCC!important; */
    height: 30%;
    width: 100%;
    border-radius: 0;
    text-align: center;
     padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
    padding-bottom: 15%;
    font-family: 'Josefin Sans';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://data.whicdn.com/images/318155988/original.gif) !important;
    color: purple;
    
    /* color: #fbb040; */
    /* https://images.wallpaperscraft.com/image/mountains_moon_forest_139359_1920x1080.jpg     */
    /* https://data.whicdn.com/images/299428786/original.gif */
}

.display-4 {
    font-size: 80px;
    
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 45px;
    background-color: white;
    background: rgba(255, 255, 255, 0.5);
    color: purple !important;
    padding: 5px;
}

.lead {
    font-size: 25px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 45px;
    background-color: white;
    background: rgba(255, 255, 255, 0.5);
    color: purple !important;
    padding: 20px;

}

#resume {
    text-decoration: none;
    border: solid 2px #CCCC99;
    border-radius: 30px;
    background-color: #CCCC99;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Merriweather Sans';;
    margin: 0 auto;
    text-align: center !important;
    color: #003366;
}

.border1 {
    border: solid 2px #CCCC99;
    border-radius: 40px;
    padding: 10px 10px;
    background-color: #CCCC99;
    width: 30%;
    text-align: center;
    font-family: 'Cabin';
    margin: 0 auto;
    margin-right: 35%;
    margin-bottom: 15px;
    color: #003366;
    
}

ul#menu li {
   display:inline; 
   margin: 35px 35px 35px 0px;
   
}

#gtr {
    margin-bottom: 10px;
    border: solid 20px white;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;

}

#gtr:hover { 
    transition: .3s;
    border: solid 20px #E5E5E5;
}

#s2000{
    margin-bottom: 10px;
    border: solid 20px white;
    border-radius: px;
    background-color: white;
    text-decoration: none;

}

#s2000:hover { 
    transition: .3s;
    border: solid 20px #E5E5E5;
}

#rx7{
    margin-bottom: 10px;
    border: solid 20px white;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;

}

#rx7:hover { 
    transition: .3s;
    border: solid 20px #E5E5E5;
}

#two40sx{
    margin-bottom: 10px;
    border: solid 20px white;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;

}

#two40sx:hover { 
    transition: .3s;
    border: solid 20px #E5E5E5;
}

#scionfrs{
    margin-bottom: 10px;
    border: solid 20px white;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;

}

#scionfrs:hover { 
    transition: .3s;
    border: solid 20px #E5E5E5;
}

.container1 {
    position: relative;
    width: 50%;
    padding: 20px;
  }

  img { 
    border-radius: 120px;
    margin: 10px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container1:hover .middle {
    opacity: 2;
  }
  
  .text {
    background-color: #003366;
    color: #CCCC99;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 120px;
  }

  
#border {
    border: solid 2px #003366;
    border-radius: 20px 20px 0px 0px;
    background-color: #003366;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Merriweather Sans';
    color: #CCCC99;
}

#border2 {
    border: solid 2px #CCCC99;
    border-radius: 40px;
    padding: 10px;
    background-color: #CCCC99;
    width: 30%;
    text-align: center;
    font-family: 'Cabin';
    margin: 0 auto;
    margin-right: 35%;
    color: #003366;
}



#contact {
    border: solid 10px white;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    font-family: 'Cabin';
    color: #003366;
    width: 100%;
}

#submitThis {
    background-color: #003366;
}

.footer1 {
    text-align: center;
    color: white;
}




